<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Educación</title>
</head>
<body>
  <div class="container">
  <div class="general">
    <a href="/"> ir a Index</a>
    <div class="card mb-3" style="max-width: 540px;" justify-content="center">
      <form method="GET" action="/eduProfesional">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/uu.jpg" class="card-img"  alt="...">
          </div>
      </form>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Universidad Distrital Francisco José de Caldas</h5>
              <p class="card-text">Tecnologo en sistematización de datos.</p>              
              <p> Disciplina académica Desarrollo de aplicaciones web </p>
              <p>2015 – 2019 </p>
            </div>
          </div>          
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="ude.jpg" class="card-img" width="300px" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Udemy</h5>
            <p class="card-text">Curso Master en webs Full Stack: Angular, Node, Laravel, Symfony.</p>        
            <p class="card-text">Identificador de la credencialID de la credencial UC-2QENOGU2</p>              
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="ude.jpg" class="card-img" width="300px" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Udemy</h5>
            <p class="card-text">Curso Master en JavaScript: Aprender JS, JQuery, Angular 8, NodeJs.</p>    
            <p class="card-text">Identificador de la credencialID de la credencial UC-ODIDNUKD.</p>           
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="ude.jpg" class="card-img" width="300px" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Udemy</h5>
            <p class="card-text">Curso Angular: De cero a experto creando aplicaciones (Angular 8+).</p>          
            <p class="card-text">Identificador de la credencialID de la credencial UC-G9A24918.</p>          
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>