<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap.min.css">   
    <link rel="stylesheet" href="/jquery.min.js">
  <title>Inf General</title>
</head>
<body>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/0.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Nicolas Martin</h5>
          <p class="card-text"> Tecnologo en sistematización de datos</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>

    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Perfil Profesional</h5>
        <p class="card-text">Tecnólogo en sistematización de datos y técnico en programación de software con conocimiento en tecnologías de desarrollo web Front End como HTML5, CSS3, JavaScript, preprocesadores (SASS), manejo de framesworks de CSS como bootstrap, conocimientos en el desarrollo de aplicaciones web con Angular junto con pruebas unitarias, Bases de datos MySQL y PostgresSQL, conocimientos básicos en lenguajes de programación como Java y PHP.
          Con habilidad de análisis, y solución de problemas, trabajo en equipo con muchas expectativas de aprender.</p>
        
      </div>
      <div class="card">
        <div class="card-body">        
          <a href="/eduProfesional">Educación</a>
          <p class="card-text"> Universidad Distrital Francisco José de Caldas</p>        
        </div>
      </div>
      <div class="card">
        <div class="card-body">        
          <a href="/verificaru">Contacto</a>
          <p class="card-text"> project development experience</p>        
        </div>
      </div>

  <script src="bootstrap.js"></script>
    <script src="popper.js"></script>
</body>
