<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">   
    <link rel="stylesheet" href="/jquery.min.js">
    <title>Contacto</title>
</head>
<body>
  <form method="GET" action="/verificarRegistro/?">
    <label for="usuario"> Usuario</label>
    <input type="text" id="usuario" name="usuario" placeholder="Ingresar Usuario">
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password">
    <button>Enviar</button>
</form>
  
    <script src="bootstrap.js"></script>
    <script src="popper.js"></script>
</body>
</html>





